body{
    background: linear-gradient(to right, #ff7e5f, #feb47b);
}
.input-container{
   border-radius: 10px;
   height: 40px;
   border: solid none;
   margin: 10px;
   font-family: roboto; 
   text-align: center;
   width: 400px;
   border-style: none;
}
.button-container{
    border-radius: 10px;
    height: 35px;
    width: 50px;
    border-style: none;
    font-family: roboto;
}
.form-container{
    text-align: center;
    background-color: #b39a87;
    border: solid blanchedalmond;
    border-radius: 10px;
    padding: 40px;
    margin-left: 5%;
    margin-right: 10%;
  
}
.heading-container{
    color: white;
    font-weight: 800;
    text-decoration:double;
}